<h2>Por País</h2>

<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onDebounce)="suggestion($event)"
      (onEnter)="search($event)"
    ></app-country-input>
  </div>
</div>

<hr />

<div class="row" *ngIf="error">
  <div class="col">
    <div class="alert alert-danger">
      No se encontró nada con el término {{ query }}
    </div>
  </div>
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <div class="table-responsive">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
