<h2>Por País</h2>

<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onDebounce)="suggestion($event)"
      (onEnter)="search($event)"
      placeholder="Buscar país..."
    ></app-country-input>
  </div>
</div>

<ul class="list-group" *ngIf="showSuggestion">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let country of countriesSuggestion"
  >
    <a [routerLink]="['/country', country.alpha3Code]" class="list-link">
      {{ country.name }}
    </a>
  </li>
  <li class="list-group-item list-group-item-action">
    <a class="list-link" (click)="search(query)"> Buscar "{{ query }}"</a>
  </li>
</ul>

<hr />

<div class="row" *ngIf="error">
  <div class="col">
    <div class="alert alert-danger">
      No se encontró nada con el término {{ query }}
    </div>
  </div>
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <div class="table-responsive">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
