<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bandera</th>
      <th scope="col">Nombre</th>
      <th scope="col">Población</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; index as i">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="country.flags.png" [alt]="'Bandera ' + country.name" />
      </td>
      <td>{{ country.capital }} - {{ country.name }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a [routerLink]="['country', country.alpha3Code]">Ver más...</a>
      </td>
    </tr>
  </tbody>
</table>
